{% extends 'base.html.twig' %}

{% block main %}
    <form class="form-horizontal" action="{{ path('task_create') }}" method="POST">
        <fieldset>
            <legend>New Task</legend>

            <div>
                <label  for="task_description">Description</label>
                <div class="col-sm-6">
                        <textarea rows="6" id="task_description" name="task[description]"></textarea>
                </div>
            </div>

            <label for="task_deadline">Deadline</label>
            <div>
                <input type="date" id="task_deadline" name="task[deadline]">
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label" for="article_category">Category</label>
                <div class="col-sm-6">
                    {{ form_widget(form.project) }}
                </div>
            </div>

            {{ form_row(form._token) }}


            <div>
                <div>
                    <button type="submit" >Submit</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block tasks %}
    <div>
        <table>
            <thead>
            <tr>
                <td>Project</td>
                <td>Description</td>
                <td>Status</td>
                <td>Deadline</td>
            </tr>
            </thead>
            {% for task in allTasks %}
                <tr>
                    <td>{{ task.project.name }}</td>
                    <td>{{ task.shortDescription }}</td>
                    <td>{{ task.status }}</td>
                    {% if(task.deadline  < date()) %}
                        <td style="color: red">{{ task.deadline|date("m/d/Y") }}</td>
                    {% else %}
                        <td>{{ task.deadline|date("m/d/Y") }}</td>
                    {% endif %}
                    <td>edit</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}